<!DOCTYPE html>
<html>
<head>
    <title>Flask Form</title>
</head>
<body>
    <h2>Enter your details</h2>
    <form method="POST">
        <label>Name:</label><br>
        <input type="text" name="name" required><br><br>

        <label>Gamer:</label><br>
        <select name="role" required>
            <option value="">-- Select Role --</option>
            <option value="student">No</option>
            <option value="teacher">Yes</option>
        </select><br><br>

        <label>Age:</label><br>
        <input type="text" name="age" required><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
